h3 { color: #c00; }
#elixirs { border-width: thin; border-style: solid; border-color: #007e7e; width: 200px; padding-left: 20px; padding-right: 20px; padding-bottom: 20px;
 margin-left: 250px; text-align: center; background-image: ../headfirsthtmlcss/chapter9/lounge-complete/images/cocktail.gif; background-repeat: repeat-x; }
.artiste { font-weight: bold; }
.cd { font-style: italic; }
h4 { font-size: 1.4em; color: #00cc55; font-weight: bold; }
#elixirs a:link { color: #007e7e; }
#elixirs a:visited { color: #333333; }
#elixirs a:hover { background: #f88396; color: #0d5353; }