body { font-size: small; font-family: Verdana, Helvetica, Arial, sans-serif; line-height: 1.6em; 
background-image: url("../Images/IMG_20190104_223027.jpg"); background-repeat: repeat-x; background-attachment: scroll;}
#bebodieh {background-image: url("../Images/cocktail.gif"); background-repeat: repeat-y; font-weight: bold; color: #20ef3f;}
h1, h2 { color: #001e3e; }
h1 { font-size: 150%; }
h2 { font-size: 130%; }
/* p {border: 2px 3px 2px 3px;} */
.likerow { display: table; border-spacing: 5px; }
#ogana {display: table-row; border-spacing: 5px; color: #fefefe; padding-left: 5%}
a {color: rgb(004, 034, 035);}
img.photo {width: 90%;}
#oga { display: table-cell; background-color: #bfbb40; padding: 10px; width: 25%; margin-right: 5px;}
#first {display: table-cell; background-color: #00eeee; padding: 12px; vertical-align: top; width: 25%; }
.second { display: table-cell; background-color: #e09982; padding: 8px; vertical-align: top; width: 25%; }
#it {color: #08090a; background-color: #bcb0b0; position: absolute; bottom: 120px; right: 30px; font-size: large;
padding: 5px; letter-spacing: 0.12em; z-index: 3;}