li {line-height: 200%; }

p {font-family: "Times New Roman", Arial, Verdana, Helvetica;}

h1 {font-size: 200%; display: inline-block; color: #fff;}

nav {font-variant: small-caps; font-size: 150%; font-family: Arial, "Times New Roman", Serif;}

h2 {background: #00a5ee; color: #555;}

details {font-style: italic;}

summary{font-style: normal; font-weight: bold;}

footer {background-color: #777; clear: both;}

section {display: inline-block; float: left;
		width: 31%; margin-right: 2%;}
		

body {margin: 4%; background-color: #bbb;}

img {width: 125px;}

header {padding-bottom: 2%; background-color: #777; text-align: center;}

li {list-style-type: lower-roman;}
