div {box-sizing: border-box; display: inline-block;
		width: 10%; height: 10%; margin-right: 2%;
		padding: 3%; border: 1px solid #000;
		margin-bottom: 2%; transition: 2s ease;}

div:focus {background-color: #ff0;}

div:hover {width: 20%; background-color: #800040;}

.animate {background-color: #92B901; opacity: 0.4; border-radius: 5%;
		transition-property: width, height, transform, opacity, background-color, border-radius;
		transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;}

.animate:hover {opacity: 1; background-color: #1ec7e6;
				width: 12%; height: 7%;
				transform: rotate(360deg);}
