h1 {text-align: center;}

section {
	width: 90%;
	margin: 0 auto;
}

nav {
	border: 1px solid #06425c;
	background-color: #ffffff;
	color: #06425c;
	overflow: auto;
	padding-left: 8%;
}

nav a {
	box-sizing: border-box;
	display: inline-block;
	line-height: 35%;
	height: 40%;
	color: #ffffff;
	background-color: #486b02;
	text-decoration: none;
	border-radius: 2.5%;
	padding: 1% 2%;
	margin: 1% 2% 1% 4%;
}

div {
	text-align: left;
}

@media only screen and (min-width:700px){
	#ope, #conc {
	display: inline-block;
	width: 94%;
	float: left;
	margin: 0 2%;
	padding: 0 auto;
	}

nav {
	width: 20%;
	text-align: center;
	height: 100vh;
	color: #ffffff;
	float: left;
	background-color: #486b02;
	text-decoration: none;
	border-radius: 2.5%;
	padding: 1% 2%;
	margin: 1% 2% 1% 2%;
	}

nav a {
	display: block;
	line-height: 100%;
	height: 10%;
}

main {
	overflow: auto;
}
	
	div {
		clear: both;
		text-align: center;
	}
}