li {line-height: 200%; }

p {font-family: "Times New Roman", Arial, Verdana, Helvetica;}

h1 {font-size: 200%; text-align: center;}

nav {font-variant: small-caps; font-size: 150%; font-family: Arial, "Times New Roman", Serif;}

nav a {width: 22%; background-color: #fff; margin: auto 1%; text-align: center; display: inline-block;}
#active {color: #000; text-decoration: none; background-color: #0f6}

h2 {background: #00a5ee; color: #000;}

.sect1, .sect2 {width: 95%; display: inline-block; margin: 1% 2%; height: 4em; padding-top: 2em; text-align: center; border: 3px solid #fa0; }
.sect1 label, .sect2 label {width: 30%; display: inline-block;}
.sect3, .sect4 {width: 95%; display: inline-block; margin: 1% 2%; height: 4em; padding-top: 1em; text-align: center; border: 3px solid #fa0; }

details {font-style: italic;}

summary{font-style: normal; font-weight: bold;}

footer {background-color: #00f1f0; position: relative; bottom: 1%; font-weight: bold; text-align: center; height: 8%;}
		
footer a {display: inline-block; width: 21%; padding: auto; color: #0000ff;}

button {width: 36%; text-align: center; background-color: #00bbff; height: 2em; font-size: 1.5em; margin: auto 32%;}


body {margin: 2%; background-color: #bbb;}


@media screen and (min-width:730px) {
	body {margin: 3%;}
		
	.sect1, .sect3 {display: inline-block; width: 45%; float: left;}
	.sect2, .sect4 {display: inline-block; width: 45%; float: right;}

}
